# Dependencies
node_modules/
.pnpm-store/

# Next.js build outputs
.next/
out/
build/

# Local SQLite Database & Prisma artifacts
backend/prisma/*.db
backend/prisma/*.db-journal
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
